<div class="container">
<h1 class="text-center">Your Received Feedback</h1>


<% received_feedback = Feedback.where(:receiver => current_delegate.fullname).where.not(:good_comments => nil) %>
<% received_feedback.each do |f| %>

 <div class="block-update-card status">
    <div class="update-card-body">
      <div class="update-card-body">
      <h6> Good </h6>
      <p><%= f.good_comments %></p>
      <hr>

      <h6>Needs Improvement </h6>
      <p><%= f.improvement_comments %></p>
    </div>
    </div>
    <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
</div>
</div>
<span style="padding:10px;"></span>
<br>
<% end %>
</div>